/* GENERICS */

button{
    font-size: 12px;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;


    color: white;
    background-color: rgb(71, 173, 241);
    border-color: rgb(71, 173, 241);
    border: 1px solid;
}

.label{
    display: inline-block;
    box-sizing: border-box;
    width: 75px;
    color: white;
    text-align: center;
    border: 1px solid;
    border-radius: 25px;
    font-size: x-small;
    padding: 5px; 
    
}



/* UTILS */

.inline_elements{
    display: inline-block;
}

.circle_check{
    display: inline-block;
    color: rgb(110, 197, 177);
    border-color: rgb(110, 197, 177);
    
    font-size: smaller;
    font-weight: 500;
    border: 1px solid;
    border-radius: 50%;
    padding: 1px;
    margin: 0 5px 0 0;
}



.label.editorial{
    background-color: rgb(71, 173, 241);
    border-color: rgb(71, 173, 241);
}

.goals{
    background-color: #9C72E4;
    border-color: #9C72E4;
}

.recruiting{
    background-color: #64C0A9;
    border-color: #64C0A9;
}

.mobile{
    background-color: #F29E33;
    border-color: #F29E33;
}

.website{
    background-color: #D863A0;
    border-color: #D863A0;
}

.sales{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}





